:root {
    --colorbase-50: #f6f4f3;
    --colorbase-100: #e9e4e2;
    --colorbase-200: #d3cbc7;
    --colorbase-300: #b4a8a1;
    --colorbase-400: #8f8378;
    --colorbase-500: #716458;
    --colorbase-600: #584e43;
    --colorbase-700: #473f35;
    --colorbase-800: #39332c;
    --colorbase-900: #2f2b25;
    --colorbase-950: #1d1a16;
}

html, body {
    margin: 0; 
    height: 100%;
    width: 100%;  

    font-family: 'Roboto', sans-serif;
}

body {
    display: grid; 

    grid-template-columns: minmax(200px, 1fr) 4fr; 
}

input[type="text"] {
    border: 1.0px solid #E5E7EB ;
    width: 220px;
    height: 22px;

    transition: 0.5s;
    outline: none;

}

input:focus {  
    border: 1px solid var(--colorbase-400);
    box-shadow: 0px 1px 2px 1px rgb(66, 63, 63, 0.4); 
}

label {
    color: var(--colorbase-800);

    pointer-events: none;
    cursor: default;
    margin-bottom: 6px;
    padding: 5px; 

    width: 200px; 
}

label:hover {
    background-color: var(--colorbase-400);
}

input[type="checkbox"] {
    width: 20px; 
    height: 20px; 

    margin-right: 20px;
    transition: 0.2s;
}

input[type="checkbox"]:hover {
    border-radius: 5px;
    border-color: var(--colorbase-500);
}

input[type="date"]{
    background-color: var(--colorbase-100);
    color: var(--colorbase-950);
    font-size: 15px;
    font-family: "Roboto";

    margin-top: 3px;
    padding-left: 2px;
/*     border: none;
    outline: none; */
    border-radius: 5px;


    position: absolute; 
    transform: translate(300px, 0);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}



.title[contenteditable="true"]:active,
.title[contenteditable="true"]:focus{
  border:none;
  outline:none;

  border-bottom: 1px solid black;

}






.sidebar {
    background-color: var(--colorbase-950); 

    height: 100%; 

    display: flex; 

    flex-direction: column;

    color: white;


}

li {
    list-style-type: none;
}

.sidebar-title-container {
    display: flex; 
    margin-top: 20px;
    gap: 6px;
}

  #title-icon {
   font-size: 40px; 

   padding-left: 20px;
   margin-top: 3px;


  }


.sidebar-title {
    font-size: 40px;

}

.projects-container {

    display: flex; 
    flex-direction: column;
    gap: 20px; 

    padding-left: 15px;

    margin-top: 90px;

    height: 75vh; 

    overflow: auto; 

}


.project {
    position: relative;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.project .remove-project {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.project:hover .remove-project {
    visibility: visible; 
    opacity: 1;
}

.remove-project {
    position: absolute;
    right: 0;
    margin-right: 23px;
}

.project-title {

    
    font-size: 18px;
    margin-right: 20px;
    padding: 8px; 
    border-radius: 7px;
    transition: 0.2s;

}

.project-title:hover {
    background-color: #2e2c2b;
    cursor: pointer; 

}

.activated {
    background-color: #2e2c2b; 
}



.todo {
    font-size: 14px;
    padding-top: 5px;
}

.todo-sidebar-container {
    margin: 0; 
    padding: 0; 
    padding-left: 20px;
}

.todo-container {
    margin: 0; 
    padding: 0; 
    padding-left: 20px;
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    gap: 20px ;

    /* list-style-image: ; */
}

.todo-check {
    display: flex;
    position: relative;  

    border-bottom: 1px solid var(--colorbase-500);
    width: 500px; 

}



.add-container {
    display: flex; 
    gap: 5px; 
    margin-left: 15px;
    position: absolute; 
    transition: 0.4s;


    padding: 10px; 
    padding-right: 13px;
    border-radius: 7px;
    bottom: 1%; 
    font-size: 20px;
}

.add-container:hover {
    background-color: #2e2c2b; 
    cursor: pointer;

}


.main {
    position: relative; 

    grid-column: 2/3;
    height: 100%; 

    background-color: var(--colorbase-100);

}

.display-container {
    padding-top: 120px;
    padding-left: 90px; 

}

.title { 
    color: var(--colorbase-950);


    font-size: 30px;
    font-weight: 600;

    width: 400px; 
    overflow: hidden; 
}

.description {
    color: var(--colorbase-800);

    margin-top: 20px;
    margin-right: 10em;
}

.description[contenteditable="true"]{
    padding: 10px 0; 
    padding-left: 3px;
}

/* .description[contenteditable="true"]:active, 
.description[contenteditable="true"]:focus {
    
} */



.header-container > .title { 
    padding-left: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.action-container {
    position: absolute; 
    bottom: 0;

    display: flex; 
    justify-content: space-evenly;

    background-color: var(--colorbase-50);


    width: 100%; 

    bottom: 0; 
    height: 60px; 

    
}

.todo-delete {
    color: rgb(253, 99, 99);   
    cursor: pointer;

    position: absolute; 

    transform: translate(450px, 0);
}

#save-icon {

    font-size: 30px;
}

.save-changes {
    display: flex; 
    align-items: center;
    cursor: pointer; 
}
.add-todo-container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding-bottom: 5px;
}

#add-todo {
    width: 90px;
    cursor: pointer;  
    display: flex; 
    justify-content: center;
    
}



#todo-title {
    width: 80px; 
    padding: 5px; 
}